--- 
layout: home 
title: Typora Support
---

<div id="search">
	<h3>Search</h3>
	<ul class="category" style="margin-top:-10px;">
		<li>
			<div>
				<input type="text" id="search-box" name="query" placeholder="Type keywords and press return here..." autocomplete="off">
				<button id="search-button" class="search-button" aria-label="Do Search">
						<svg style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M443.5 420.2L336.7 312.4c20.9-26.2 33.5-59.4 33.5-95.5 0-84.5-68.5-153-153.1-153S64 132.5 64 217s68.5 153 153.1 153c36.6 0 70.1-12.8 96.5-34.2l106.1 107.1c3.2 3.4 7.6 5.1 11.9 5.1 4.1 0 8.2-1.5 11.3-4.5 6.6-6.3 6.8-16.7.6-23.3zm-226.4-83.1c-32.1 0-62.3-12.5-85-35.2-22.7-22.7-35.2-52.9-35.2-84.9 0-32.1 12.5-62.3 35.2-84.9 22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2c22.7 22.7 35.2 52.9 35.2 84.9 0 32.1-12.5 62.3-35.2 84.9-22.7 22.7-52.9 35.2-85 35.2z"/></svg>
				</button>
				<button id="clear-button" style="display:none;opacity: 0.6;" class="search-button" aria-label="Clear Search Results">
						<svg style="width: 20px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"/></svg>
				</button>
			</div>
		</li>
	</ul>
</div>
<div id="search-contents" style="display: none;"><ul id="search-results" class="category">
	<li>Searching...</li>
</ul></div>
<div id="list-contents">
	<h3>What's New</h3>
	<ul class="category basic-posts"> 
		{% for post in site.categories.new %}
		{% unless post.draft %}
		{% assign title = post.title %}
		<li>
			<div class="article">
				<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<span class="title"><a itemprop="name" href="{{ post.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ title }}">{{ title }}</a></span>
						<time class="date">{% for tag in post.tags %}{{ tag }}{% unless tag == post.tags.last %}, {% endunless %}{% endfor %}</time>
					</header>
				</article>
			</div>
		</li>
		{% endunless %}
		{% endfor %}
	</ul>
	<h3>Quick Start</h3>
	<ul class="category basic-posts"> 
		{% for post in site.categories.basic reversed %}
		{% unless post.draft %}
		{% assign title = post.title %}
		<li>
			<div class="article">
				<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<span class="title"><a itemprop="name" href="{{ post.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ title }}">{{ title }}</a></span>
						<time class="date">{% for tag in post.tags %}{{ tag }}{% unless tag == post.tags.last %}, {% endunless %}{% endfor %}</time>
					</header>
				</article>
			</div>
		</li>
		{% endunless %}
		{% endfor %}
	</ul>
	<h3>How-Tos</h3>
	<ul class="category howto-posts"> 
		{% for post in site.categories.how-to reversed %}
		{% unless post.draft %}
		{% assign title = post.title %}
		<li>
			<div class="article">
				<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<span class="title"><a itemprop="name" href="{{ post.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ title }}">{{ title }}</a></span>
						<time class="date">{% for tag in post.tags %}{{ tag }}{% unless tag == post.tags.last %}, {% endunless %}{% endfor %}</time>
					</header>
				</article>
			</div>
		</li>
		{% endunless %}
		{% endfor %}
	</ul>
	<h3>Reference</h3>
	<ul class="category ref-posts"> 
		{% for post in site.categories.reference reversed %}
		{% unless post.draft %}
		{% assign title = post.title %}
		<li>
			<div class="article">
				<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<span class="title"><a itemprop="name" href="{{ post.url | prepend: site.github.url | prepend: site.baseurl}}" title="{{ title }}">{{ title }}</a></span>
						<time class="date">{% for tag in post.tags %}{{ tag }}{% unless tag == post.tags.last %}, {% endunless %}{% endfor %}</time>
					</header>
				</article>
			</div>
		</li>
		{% endunless %}
		{% endfor %}
	</ul>
	<h3>Contact</h3>
	<ul class="category contact-posts"> 
		<li>
			<div class="article">
				<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<span class="title"><a itemprop="name" href="mailto:hi@typora.io">Email</a></span>
						<time class="date" itemprop="datePublished" >hi@typora.io</time>
					</header>
				</article>
			</div>
		</li>
		<li>
			<div class="article">
				<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<span class="title"><a itemprop="name" href="https://github.com/typora/typora-issues/issues">Issues</a></span>
						<time class="date" itemprop="datePublished" >Typora Issues</time>
					</header>
				</article>
			</div>
		</li>
		<li>
			<div class="article">
				<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
					<header class="post-header">
						<span class="title"><a itemprop="name" href="https://twitter.com/typora">Twitter</a></span>
						<time class="date" itemprop="datePublished" >@typora</time>
					</header>
				</article>
			</div>
		</li>
	</ul>
</div>

<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>